/* BEGIN FONTS */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nunito-Light';
  font-style: normal;
  font-weight: lighter;
  src: url(../fonts/Nunito/Nunito-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: lighter;
  src: url(../fonts/RobotoMono/RobotoMono-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'RobotoMono-Light';
  font-style: normal;
  font-weight: lighter;
  src: url(../fonts/RobotoMono/RobotoMono-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'RougeScript';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/RougeScript/RougeScript-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* END FONTS */

/* BEGIN KEYFRAMES */
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@keyframes menu-fadein {
  from { opacity: 0}
  to   { opacity: 0.95}
}

@keyframes wave {
  /* Source: https://jarv.is/notes/css-waving-hand-emoji/ */
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
 100% { transform: rotate( 0.0deg) }
}
/* END KEYFRAMEs */

html {
  box-sizing: border-box;
  font-family: 'Nunito', Verdana, Arial, serif;
  color: #2f2f2f;
  background-color: #fdfdfd;
}
* {
  box-sizing: inherit;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #fdfdfd;
}

body::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;   
  border-radius: 30px;    
  /* border: 3px solid var(--background-color); */
}

main {
  width: 1200px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.shadow {
  box-sizing: border-box;  
  box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
}

.left-button {
  border-left: 1px solid #eee;
  border-radius: 5px 0px 0px 5px;
}

.right-button {
  /* position:relative; */
  /* top:99%;
  right:275px; */
  border-right: 1px solid #eee;
  border-radius: 0px 5px 5px 0px;
}

button {
  background-color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
  /* margin: 10px; */
  /* border-radius: 5px; */
  outline: none;
  font-size: 18px;
}

button:hover {
  background-color: #fceea8;
}

p a:hover, h4 a:hover, table a:hover {
  background-color: #fceea8;
  text-decoration: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: #2f2f2f; 
}

.src {
  margin-top: 2px;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.u {
  color: #2f2f2f;
  text-decoration: none;
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.2em #000;
  display: inline;
}

.u:hover {
  background-color: #fceea8;
}

.light {
  /* font-weight: lighter; */
  font-family: 'Nunito-Light';
  color: #aaa;
  font-size: 0.9em;
}

.yellow {
  background-color: #fceea8;
}

.hl {
  font-weight: bold;
  font-family: 'RobotoMono';
  font-size: 0.9em;
}

.smallcaps {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.5px;
}

.hideme {
  opacity: 0;
}

/* BEGIN HEADER */
header {
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#name {
  font-family: 'RougeScript', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 5px 0px;
}

#name:hover {
  transform: scale(1.1);
  transition-delay: transform 1s;
}

#menu {
  display: inline-block;
  text-align: center;
}

#menu li {
  display: inline;
  list-style: none;
  font-size: 17px;
  padding: 15px;
}

#menu a {
  text-decoration: none;
  color: #2f2f2f;
}

#menu ul a:hover {
  background-color: #fceea8;
  text-decoration: none;
}

#menu ul li.active-link>a{
  border-bottom: 1px solid #2f2f2f;
  color: #2f2f2f;
  padding-bottom:1px;
}

.current-page {
  border-bottom: 1px solid #2f2f2f;
  color: #2f2f2f;
  padding-bottom:1px;
}

#x {
  display: none;
}

#overlay {
  display: none;
}

/* END HEADER */

/* BEGIN FOOTER */
footer {
  display: flex;
  flex-direction: row;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
}

#socials {
  display: inline-block;
}

#socials ion-icon {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

#socials ion-icon:hover {
  color: #feeac8;
  transform: scale(1.25);
  transition-delay: transform 1s;
}
/* END FOOTER */

/* BEGIN INDEX.HTML */
#introduction {
  margin-bottom: 100px;
}

#me {
  animation: fadein 1s;
}

#intro-text {
  padding-left: 50px;
}

#wave {
  animation: wave 2.5s 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

#intro-text h2 {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#intro-text h3 {
  font-size: 25px;
  margin-bottom: 0px;
}

#intro-text table {
  padding-top: 10px;
  font-size: 25px;
  line-height: 45px;
}

hr {
  border: 1px solid #eee; 
  margin-bottom: 60px;
}

#projects {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 30px 0px 60px 0px;
  border-radius: 5px;
}

.slide {
  display: none;
  animation: fadein 2s;
}

#projects h3 {
  font-size: 25px;
  padding-bottom: 15px;
}

.project {
  width: 100%;
  height: 410px;
  margin: auto;
  /* border: 1px solid #eee; */
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  /* border-radius: 5px; */
  background-color: #fdfdfd;
  padding: 40px 20px;
  /* margin-bottom: 30px; */
  /* margin: 0px 15px; */
}

.project img {
  border-radius: 5px;
}

.project .content {
  padding: 0px 20px;
}

.project .column {
  justify-content: space-between;
}

.project-title {
  margin-bottom: 0px;
  margin-top: 0px;
}

.project-content, .project-details {
  font-size: 20px;
}

table .col2 {
  padding-left: 30px;
}

.arrow {
  text-align: right; 
  /* font-size: 30px; */
}
/* END INDEX.HTML */

/* BEGIN EXPERIENCE.HTML */
#experience h3 {
  font-size: 25px;
  padding-bottom: 15px;
}

.work {
  animation: fadein 1s;
  width: 100%;
  height: auto;
  margin: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 40px 20px;
  margin-bottom: 30px;
}

.work img {
  border-radius: 5px;
}

.work .content {
  padding: 0px 20px;
}

.work-title h2 {
  margin: 0;
  padding: 0;
}

.work-title h4 {
  margin: 0;
  padding-bottom: 10px;
  /* font-style: italic; */
  /* background-color: #fceea8; */
}
/* END EXPERIENCE.HTML */

/* BEGIN PORTFOLIO.HTML */
.subsection .project {
  margin-bottom: 30px;
}

.subsection-header {
  cursor: pointer;
}

.subsection-content {
  animation: fadein 1s;
}

.subsection-content .project-content, .subsection-content .project-details {
  font-size: 16px;
}

.skills p {
  margin-right: 30px;
  font-family: 'RobotoMono-Light';
  color: #666666;
  font-size: 0.9em;
}

.project-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  margin: 0px;
}

.button {
  display: flex;
  width: 150px;
  height: 40px;
  border: 1px solid #fceea8;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 0px;
}

.button:hover {
  background-color: #fceea8;
  transform: scale(1.1);
  transition-delay: transform 1s;
}

.caret {
  font-size: 10px;
}

.flip {
  transform: rotate(180deg);
}
/* END PORTFOLIO.HTML */

/* BEGIN FOOD.HTML */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 15px;
  margin-top: 30px;
}

.grid img {
  align-items: center;
  align-content: center;
}

.grid-img {
  position: relative;
}

/* Adapted from: https://codemyui.com/3d-card-flip-hovering-text/ */

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front, .back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 300px;
  height: auto;
  border-radius: 5px;
}

.back{
  background: #feeca8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(45deg,  #feeca8 0%,#fbfbfb 100%);
  background: -o-linear-gradient(45deg,  #feeca8 0%,#fbfbfb 100%);
  background: linear-gradient(45deg,  #feeca8 0%,#fbfbfb 100%);
}

.inner{
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
          transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
          perspective: inherit;
  z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
/* END FOOD.HTML */

/* BEGIN SELF-TAUGHT.HTML */
.blog {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 850px;
  margin: auto;
  padding: 60px 0px;
}

.blog h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.blog p {
  margin-top: 0;
  line-height: 25px;
}

.side {
  position: fixed;
  width: 20%;
}

.title {
  font-size: 1.3em;
}

.writing {
  width: 80%;
  padding: 0;
  margin: 0;
  margin-left: calc(20%);
}


/* END SELF-TAUGHT.HTML */


/* BEGIN ROOMMATES.HTML */
/* #cs-toc {
  list-style: none;
  padding: 0;
  font-size: 0.8em;
  font-family: 'Nunito-Light';
} */

#proj-blurb {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#proj-blurb div {
  margin-right: 100px;
}

#rm-case-study .cs-section-title {
  font-size: 1.5em;
  margin-bottom: 15px;
}

#rm-case-study .cs-subsection-title {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.section {
  padding-bottom: 30px;
}

.sub-section {
  padding-bottom: 15px;
}

.cs-img {
  padding: 15px 0px;
}

.cs-img p {
  font-style: italic;
  color: #c4c4c4;
}

#market-research {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#market-research img {
  margin-right: 40px;
}

.num {
  color: #EEB11D; 
  /* margin-right: 10px; */
}

.insight {
  margin-bottom: 15px;
}

.insight ul{
  line-height: 1.5em;
}

#features {
  background-color: #fbfbfb;
  padding: 20px;
  margin-bottom: 15px;
  /* color: #fdfdfd; */
}
/* END ROOMMATES.HTML */

/* mobile */
@media (max-width: 600px) {
  main {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 15px;
  }

  #menu {
    display: none;
  }

  #x {
    position: absolute;
    display: inline-block;
    font-size: 25px;
    top: 0;
    right: 30px;
    text-shadow: 1px 1px #999;
    z-index: 11;

    cursor: pointer;
  }

  #x:hover {
    transform: scale(1.1);
    transition-delay: 1s;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
    opacity: 0.95;
    z-index: 10;
    text-align: center;
    align-content: center;
    justify-content: center;
    animation: menu-fadein 0.5s;
  }

  #overlay ul {
    padding-top: calc(50%);
    padding-left: 0;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  #overlay li {
    list-style: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #me {
    padding-bottom: 60px;
  }

  #intro-text {
    padding: 0;
    margin: 0;
  }

  #intro-text h2 {
    font-size: 40px;
  }

  #intro-text h3 {
    font-size: 20px;
  }

  #intro-text table {
    font-size: 20px;
    line-height: 35px;
  }

  table td {
    vertical-align: text-top;
  }
  
  table .col2 {
    padding-left: 15px;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px 10px;
  }

  .subsection .project {
    padding: 30px 20px;
  }

  .project img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .project .content {
    padding: 0;
  }

  .subsection .project .content {
    width: 100%;
  }

  #projects .project-content {
    font-size: 1.1em;
  }

  #projects .project-details {
    margin-bottom: 50px;
    font-size: 1.1em;
  }

  .button {
    width: 33%;
    text-align: center;
  }

  .work {
    display: flex;
    flex-direction: column;
  }
  
  .work img {
    width: 100%;
    height: auto;
  }

  .work .src {
    margin-bottom: 25px;
  }

  .work .content {
    padding: 0px 5px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    padding-bottom: 60px;
  }

  .grid img {
    width: 100%;
    height: 100%;
  }

  .front, .back {
    min-height: 100%;
  }

  .back {
    font-size: 0.9em;
  }

  .blog {
    flex-direction: column;
    width: 100%;
  }

  #side {
    width: 0%;
    display: none;
  }

  .writing {
    width: 85%;
    margin: auto;
  }

  #proj-blurb {
    width: 85%;
    margin: auto;
    height: 50vh;
  }

  #proj-blurb h1 {
    margin: 0;
  }

  #proj-blurb img {
    height: 200px;
    width: auto;
  }

  #proj-blurb div {
    margin-right: 10px;
  }

  #market-research {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #market-research .cs-img {
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

/* tablet */
@media (max-width: 900px) {

}
